{
    "daily_tasks": [
        ["0630", 15, "Wake up"],
        ["0800", 10, "MEDS - Nose medications"],
        ["0700", 60, "Exercise"],
        ["0830", 30, "FOOD - Breakfast"],
        ["1215", 45, "FOOD - Lunch"],
        ["2000", 10, "MEDS - Nose medications"],
        ["2100", 120, "Prepare for Bed"]
    ],
    "variable_tasks": [
        [60, "CORE - Linux Training"],
        [120, "CORE - FOCUS #1"],
        [120, "CORE - FOCUS #2"]
    ],
    "preferred_times": {
        "CORE - Linux Training": "1600",
        "CORE - FOCUS #1": "1400",
        "CORE - FOCUS #2": "1800",
        "WRKT - Exercise": "1700"
    }
}